@charset "utf-8";
/**********************
/样式重置
**********************/
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input{margin:0;padding:0;list-style:none;border:0}
h1,h2,h3,h4,h5,h6{font-weight:400}
body{font-size:12px;color:#666;}
body,body *{font-family:"PingFang SC","Microsoft YaHei","微软雅黑";}
a{cursor:pointer;text-decoration:none;font-size:12px;color:inherit;}
a:hover,a:active,a:link,a:visited{text-decoration:none}
br{line-height:8px;margin:0px;}
html,body{ width:100%;height:100%;background:rgb(250, 250, 250);}
.tc{text-align:center;}

/********************************
*项目全局公共样式
********************************/
/* 自定义滚动条样式 */
.scroll-bar::-webkit-scrollbar,.el-table__body-wrapper::-webkit-scrollbar{
    width: 5px;
    height:5px;
}

/* 滚动条两端的按钮 */
.scroll-bar::-webkit-scrollbar-button ,.el-table__body-wrapper::-webkit-scrollbar-button{
    display: none;
}

/* 外层轨道 */
.scroll-bar::-webkit-scrollbar-track,.el-table__body-wrapper::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

/* 滚动的滑块 */
.scroll-bar::-webkit-scrollbar-thumb,.el-table__body-wrapper::-webkit-scrollbar-thumb {
    width:4px;
    border-radius: 5px;
    background-color: #c8c8c8;
}

/* 边角 */
.scroll-bar::-webkit-scrollbar-corner,.el-table__body-wrapper::-webkit-scrollbar-corner {
    display: none;
}

/* 右下角拖动块 */
.scroll-bar::-webkit-resizer,.el-table__body-wrapper::-webkit-resizer {
    display: none;
}
/* 清除ie下输入框自带清除图标 */
input::-ms-clear { display: none; }
.app_wrap{
    width: 1120px;
    margin: 0 auto;
    overflow: hidden;
}
/* 清除浮动 */
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
/* iconfont */
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1490947906383'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1490947906383#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1490947906383') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1490947906383') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1490947906383#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale; 
}
.icon-logout:before { content: "\e639"; }

.icon-delete:before { content: "\e601"; }

.icon-success:before { content: "\e602"; }

.icon-radio-o:before { content: "\e603"; }

.icon-file:before { content: "\e604"; }

.icon-caret-up:before { content: "\e605"; }

.icon-caret-down:before { content: "\e606"; }

.icon-radio:before { content: "\e607"; }

.icon-checkbox-o:before { content: "\e608"; }

.icon-checkbox:before { content: "\e609"; }

.icon-user-sharp:before { content: "\e60a"; }

.icon-more:before { content: "\e60b"; }

.icon-close:before { content: "\e60c"; }

.icon-flow:before { content: "\e60d"; }

.icon-home-sharp:before { content: "\e60e"; }

.icon-lock:before { content: "\e60f"; }

.icon-square-9:before { content: "\e610"; }

.icon-calendar:before { content: "\e611"; }

.icon-user-smooth:before { content: "\e613"; }

.icon-failure:before { content: "\e614"; }

.icon-time:before { content: "\e615"; }

.icon-house:before { content: "\e616"; }

.icon-search:before { content: "\e617"; }

.icon-alert:before { content: "\e618"; }

.icon-plus:before { content: "\e619"; }

.icon-angle-right:before { content: "\e61a"; }

.icon-triangle-down:before { content: "\e61b"; }

.icon-angle-left:before { content: "\e61c"; }

.icon-folding-right:before { content: "\e61d"; }

.icon-exchange:before { content: "\e63b"; }

.icon-stop-f:before { content: "\e63c"; }

.icon-edit-f:before { content: "\e63d"; }

.icon-plus-f:before { content: "\e63e"; }

.icon-failure-o:before { content: "\e63f"; }

.icon-config:before { content: "\e640"; }

.icon-folder:before { content: "\e642"; }

.icon-folder-open:before { content: "\e644"; }

.icon-flow-add:before { content: "\e645"; }

.icon-forward:before { content: "\e646"; }

.icon-config-s:before { content: "\e647"; }

.icon-chevron-down:before { content: "\e648"; }

.icon-success-o:before { content: "\e649"; }

.icon-chevron-up:before { content: "\e64a"; }

.icon-tpl-add:before { content: "\e61e"; }

.icon-file-o:before { content: "\e620"; }

.icon-setting:before { content: "\e621"; }

.icon-navi:before { content: "\e61f"; }

.icon-click:before { content: "\e622"; }

.icon-to-top:before { content: "\e623"; }

.icon-attachment:before { content: "\e625"; }

.icon-favorite-o:before { content: "\e626"; }

.icon-download:before { content: "\e627"; }

.icon-favorite:before { content: "\e628"; }

.icon-like:before { content: "\e629"; }

.icon-reply:before { content: "\e62a"; }

.icon-contacts:before { content: "\e624"; }

.icon-triangle-right-copy:before { content: "\e64b"; }

.icon-history:before { content: "\e62b"; }

.icon-group:before { content: "\e62c"; }

.icon-menu:before { content: "\e62d"; }

.icon-move:before { content: "\e62e"; }

.icon-delete-all:before { content: "\e612"; }

.icon-multi-language:before { content: "\e62f"; }

.icon-add-personal:before { content: "\e630"; }

.icon-location:before { content: "\e631"; }

.icon-encrypt:before { content: "\e632"; }

.icon-reception:before { content: "\e633"; }

.icon-trip:before { content: "\e634"; }

.icon-meeting:before { content: "\e635"; }

.icon-activity:before { content: "\e636"; }

.icon-train:before { content: "\e637"; }

.icon-other:before { content: "\e638"; }

.icon-return:before { content: "\e63a"; }

.icon-enable:before { content: "\e641"; }

.icon-disable:before { content: "\e643"; }

.icon-search1:before { content: "\e64c"; }

.icon-user:before { content: "\e64d"; }

.icon-org-config:before { content: "\e653"; }

.icon-common-people:before { content: "\e64e"; }

.icon-packup:before { content: "\e6a1"; }

.icon-folder1:before { content: "\e64f"; }

.icon-unfold:before { content: "\e6a3"; }

.icon-organization-chart:before { content: "\e650"; }

.icon-collect:before { content: "\e651"; }

.icon-recent-contacts:before { content: "\e652"; }

.icon-guanbi1:before { content: "\e6ae"; }

.icon-guanbi:before { content: "\e6af"; }

.icon-mark:before { content: "\e654"; }

.icon-distinctiveMark:before { content: "\e655"; }

.icon-edit:before { content: "\e656"; }

.icon-check-box:before { content: "\e6fa"; }

.icon-qicao:before { content: "\e669"; }

.icon-complete:before { content: "\e66a"; }

.icon-senpi:before { content: "\e66b"; }

.icon-x-copy:before { content: "\e775"; }

/* html标签 */
table{width:100%;}
thead{background-color:#F6F6F6;font-size:12px;color:#767C93;line-height: 20px;}
th{font-weight: normal;}
textarea{border:1px solid #CBCED8;border-radius: 3px;resize: none;}